body {
    background-image: url(../img/grilled.png);
}

li {
    display: inline-flex;
    list-style: none;
    margin: 5px;
}

/* Color Palette */
.color-1 {
     background: black;   
}

.color-2 {
     background: purple;   
}

.color-3 {
     background: white;   
}

.color-4 {
     background: teal;   
}

/* Textures and Patterns */
.pattern-1 {
    background: url("../img/Ocean-waves-2.jpg") no-repeat;
    background-size: cover;   
}

.pattern-2 {
    background: url("../img/170988-Pink-Roses-And-Peonies.jpg") no-repeat;
    background-size: cover;
}

.pattern-3 {
 background: url("../img/net.jpg") 50%;
    background-size: cover;

}

/* Images */
.imagery-1 img{
    height: 50%;
    width: 50%;
}

.imagery-2 img{
    height: 50%;
    width: 50%;    
}

.imagery-3 img{
    height: 50%;
    width: 50%;    
}

/* Icons */
.icon-1 {
    border: none;   
}

.icon-2 {
    border: none;   
}

.icon-3 {
    border: none;   
}


/* Navigation */
/* L-V-F-H-A */

/*.primary-nav{
    position: fixed;
    background: teal;
    width: 100%;
    top: 0;
    padding-bottom: 6em;
}
*/

nav li {
    list-style: none;
    float: left;
}

nav a:link {
    background-color: white;
    color: black;
    margin: 0 10px 0 10px;
    padding: 20px 20px 5px 20px; 
    shape-outside:content-box;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:focus {  
}

nav a:hover,
nav a:active{
    color: cadetblue;
}


h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight:400;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    color: teal;
}

h3 {
    font-family: 'Libre Baskerville', serif;  
    font-weight: 200;
}

p {
    font-family: 'Libre Baskerville', serif;  
    font-weight: 100;
}